:root {
  --color-negro: #000;
  --color-blanco: rgb(255, 255, 255);
  --color-rojo: #ff0000;
  --color-rojo-opaco: #ff00007c;
  --color-rojo-opaco-2: #ff0000a6;
  --color-negro-opaco: rgba(0, 0, 0, 0.116);
  --color-blanco-opaco: rgba(255, 255, 255, 0.523);
  --color-negro-opaco-2: rgba(0, 0, 0, 0.514);
  --color-rojo-opaco-3: #ff000056;

  --color-scroll: #ffffffa9;
}

::-webkit-scrollbar {
  display: none;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--color-blanco);
  color: var(--color-negro);
}

nav {
  padding: 10px 30px;
  background-color: var(--color-blanco);
  width: 100%;
  height: 65px;
  position: sticky;
  top: 0.1px;
  box-shadow: 0 0 2px var(--color-rojo-opaco-2);
}

label.logo {
  padding: 0 20px;
  cursor: pointer;
}

nav img{
  width: 200px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 14px 5px 10px 20px;
}

nav ul li:first-letter {
  text-transform: uppercase;
}
nav ul li a {
  text-decoration: none;
  color: var(--color-negro);
  position: relative;
}

nav ul li span::before,
nav ul li span::after {
  content: "";
  position: absolute;
  width: 0px;
  transition: 0.2s;
}

nav ul li span::before {
  bottom: -2px;
  left: -2px;
  border-bottom: 2px solid var(--color-rojo-opaco);
}

nav ul li span::after {
  bottom: -2px;
  right: -2px;
  border-bottom: 2px solid var(--color-rojo-opaco);
}

nav ul li a:hover span::before {
  width: calc(105%);
}

.checkbtn {
  font-size: 30px;
  float: right;
  color: var(--color-negro);
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.title_content{
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

/*Seccion nosotros*/
#servicios .contendor__2,
#nosotros .contendor__2 {
  width: 100%;
  height: 400px;
  background-color: var(--color-blanco);
  padding: 10px;
}

#servicios .contendor__1,
#servicios .contendor__3,
#nosotros .contendor__1,
#nosotros .contendor__3 {
  width: 100%;
  height: 400px;
  background-color: var(--color-negro-opaco);
  padding: 10px;
}
#servicios .titulo,
#nosotros .titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

#servicios .contenido__1,
#servicios .contenido__2,
#servicios .contenido__3,
#nosotros .contenido__1,
#nosotros .contenido__2,
#nosotros .contenido__3 {
  display: flex;
}

#servicios .cuadro,
#servicios .texto,
#servicios .cuadro,
#nosotros .texto {
  width: 50%;
}

#servicios .contenido__cuadro,
#servicios .contenido__texto,
#nosotros .contenido__cuadro,
#nosotros .contenido__texto {
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#servicios .cuadrito,
#nosotros .cuadrito {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 2px 4px 7px var(--color-negro-opaco);
  overflow: hidden;
  object-fit: contain;
}

#servicios .cuadrito img,
#nosotros .cuadrito img {
  width: 300px;
  height: 300px;
}

#servicios .contenido__texto p,
#nosotros .contenido__texto p {
  padding-top: 70px;
  width: 400px;
  text-align: justify;
}

/*seccion productos*/
#productos .filtros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px;
  padding-left: 80px;
  padding-right: 60px;
}

#productos .contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#productos .card a {
  text-decoration: none;
  color: var(--color-negro);
}

#productos .card {
  margin: 1rem;
  width: 250px;
  height: 310px;
  overflow: hidden;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 0, 0, 0.114);
  cursor: pointer;
}
#productos .card:hover {
  border: 1px solid rgba(255, 0, 0, 0.3);
}

#productos .img__top {
  width: 100%;
  height: 180px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.121);
  border-radius: 5px;
}

#productos .img__top img {
  width: 50%;
  height: 50%;
}

#info-pro .tittle,
#productos .tittle {
  margin: 10px;
  text-align: center;
}

#info-pro .descripcion,
#productos .descripcion_2,
#productos .descripcion {
  font-weight: 100;
  font-size: 14px;
  text-align: center;
  color: var(--color-rojo);
  margin: 10px;
}

#productos .descripcion_2 {
  color: var(--color-negro-opaco-2);
}

#info-pro .boton,
#contactanos .boton,
#productos .boton {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: var(--color-rojo);
  border: none;
  color: var(--color-blanco);
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 5px;
}

#info-pro .boton:hover,
#contactanos .boton:hover,
#productos .boton:hover {
  transition: all 1s;
  background-color: var(--color-negro);
  border-radius: 50px;
}

#productos .seleccion select {
  margin: 15px;
  width: 300px;
  padding: 10px;
  border-radius: 50px;
  border-color: var(--color-negro-opaco-2);
}

/*Seccion contactanos*/

#contactanos {
  margin: 10px;
}

#contactanos form {
  width: 500px;
  margin: auto;
  z-index: -100;
}

#contactanos .tittle {
  padding-top: 20px;
  text-align: center;
}

 div input:focus {
  color: #0000009c;
}


.group {
  margin: 10% auto;
}

.group textarea {
  resize: none;
}

.group input,
.group textarea {
  background: none;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
}
.group input:focus,
.group textarea:focus {
  outline: none;
}
.group input:focus ~ label,
.group input:valid ~ label,
.group textarea:focus ~ label,
.group textarea:valid ~ label {
  top: -14px;
  padding-left: 70%;
  color: #000;
}
.group input:focus ~ .bar:before,
.group textarea:focus ~ .bar:before {
  width: 100%;
}

.group label {
  color: #10181f;
  font-size: 16px;
  font-weight: normal;
  pointer-events: none;
  transition: 300ms ease all;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: red;
  transition: 300ms ease all;
  left: 0%;
  color: #000;
} 

/*Info pro*/

#info-pro {
  margin: 10px;
}

#info-pro .informacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#info-pro .imagen,
#info-pro .desc__pro {
  width: 50%;
  margin-top: 6%;
}

#info-pro .imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

#info-pro .imagen img {
  width: 50%;
  height: 100%;
}

#info-pro .desc__pro p {
  margin: 15px;
  text-align: center;
}

#info-pro .botones {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

#info-pro .boton2 {
  appearance: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  margin-top: 10px;
  padding-left: 10px;
  border: 2px solid var(--color-negro-opaco);
  transition: all 0.5s;
}

#info-pro .boton2:focus {
  transition: all 1s;
  border-radius: 50px;
}

#info-pro .boton {
  width: 50%;
  margin-left: 10%;
}

/*whatsapp icon*/

#whatsapp {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 50px;
  height: 50px;
  background-color: var(--color-negro);
  padding: 10px;
  border-radius: 50px 50px 50px 0px;
  bottom: 10%;
  right: 5%;
  box-shadow: 0 0 20px var(--color-rojo-opaco-2);
  cursor: pointer;
  transition: all 0.5s;
}

#whatsapp img {
  width: 100%;
  height: 100%;
  fill: var(--color-blanco);
}

#whatsapp:hover {
  transition: all 1s;
  width: 60px;
  height: 60px;
  box-shadow: 0 0 20px var(--color-rojo-opaco);
}

/*seccion inicio*/

.js-carrusel {
  display: flex;
  width: 85%;
  margin: 40px auto;
  justify-content: center;
  align-items: center;
}

.js-carrusel > .direction {
  width: 50px;
  text-align: center;
  font-size: 40px;
  flex-shrink: 0;
  flex-grow: 0;
  cursor: pointer;
}

.js-carrusel > .direction.disabled {
  color: var(--color-rojo-opaco-3);
  cursor: not-allowed;
}

.js-carrusel > .container__car {
  flex-grow: 1;
  background: var(--color-blanco);
  height: 500px;
  overflow: hidden;
  position: relative;
  z-index: -10;
  border-radius: 10px;
  border: 1px solid var(--color-rojo-opaco-3);
}

#all_content {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  display: flex;
  width: 100%;
  transition: 0.5s;
  z-index: -10;
}


#all_content > .content__car {
  width: 100%;
  flex-shrink: 0;
  text-align: center;
  overflow: hidden;
}

#all_content > .content__car img{
  width: 100%;
  height: 100%;
}

.cuadro__2 {
  display: none;
}



/* seccion footer */
footer {
  background-color: var(--color-negro);
  color: var(--color-blanco);
  padding: 40px 0;  box-shadow: 0 0 20px var(--color-rojo);

}

.footer-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 33.33%;
  padding: 0 20px;
}

footer h4 {
  color: var(--color-blanco);
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 10px;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links li a {
  color: var(--color-blanco);
  font-size: 24px;
  text-decoration: none;
}

.social-links li a:hover {
  color: var(--color-rojo);
}


.list-unstyled li a{
  text-decoration: none;
  color: var(--color-blanco);
}

.list-unstyled li a:hover{
  color: var(--color-rojo);
}

.text-center{
  color: var(--color-blanco);
}

.margin{
  margin-bottom: 100px;
}


.select{
  outline: none;
  width: 100%;
  border: none;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-negro);
}




@media (max-width: 900px) {
  /* nav{
        box-shadow: none;
    } */
  nav ul li a {
    font-size: 16px;
    color: var(--color-negro) !important;
    text-decoration: none !important;
  }
  .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    top: 50px;
    width: 100%;
    height: 200vh;
    background-color: var(--color-blanco);
    left: -100%;
    text-align: center;
    z-index: 10;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 30px 0;
    line-height: 80px;
  }

  #check:checked ~ ul {
    left: 0;
  }

  #contactanos form {
    width: 100%;
  }

  #servicios .contendor__2,
  #nosotros .contendor__2 {
    width: 100%;
    height: 400px;
    background-color: var(--color-blanco);
    padding: 10px;
  }

  #servicios .contendor__2,
  #servicios .contendor__1,
  #servicios .contendor__3,
  #nosotros .contendor__1,
  #nosotros .contendor__3,
  #nosotros .contendor__2 {
    width: 100%;
    height: auto;
  }

  #servicios .contenido__1,
  #servicios .contenido__2,
  #servicios .contenido__3,
  #nosotros .contenido__1,
  #nosotros .contenido__2,
  #nosotros .contenido__3 {
    display: block;
  }

  #servicios .cuadro,
  #servicios .texto,
  #servicios .cuadro,
  #nosotros .texto {
    width: 100%;
  }

  .cuadro__2 {
    width: 100%;
    display: block;
  }

  .cuadro__ocultar {
    display: none;
  }

  #servicios .cuadrito,
  #nosotros .cuadrito {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 2px 4px 7px var(--color-negro-opaco);
  }

  #servicios .contenido__texto p,
  #nosotros .contenido__texto p {
    padding-top: 70px;
    width: 400px;
    text-align: justify;
  }

  .footer-col{
    width: 100%;
  }
}


@media (max-width: 350px) {
  nav{
    height: 100px;
  }

  nav ul{
    top: 90px;
  }
}




